<body>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
         
           
            
   <!-- $res esta almacenada en la variable $data en la funcion de mostrar contenida en articulos,donde consulta a la db   -->       
<?php if($res != null){

      foreach($res->result() as $fila){ ?><!--tener en cuente que result() es una funcion de codeigniter-->



 <div class="post-preview" style="width: 60%;">
                 
          <p class="post-meta"  ><?php echo $fila->contenido ?></p>
          <p  class="post-meta">publicado <?php echo  $fila->fecha ?> 

<?php if($this->session->userdata('id')==$fila->postUsuId){ ?>
            <button class=" btn btn-default btn-xs "style="float: right;" role="button"  ">
             
               <a href="http://localhost/pruebaCodeigniter/articulos/eliminarpost?idpost=<?php echo $fila->id?>" style="float: right; margin-left: 4px" >eliminar</a>
            
             </button>  

             <button class=" btn btn-default btn-xs "style="float: right;" role="button">

                <a href="http://localhost/pruebaCodeigniter/articulos/cargarpost?idpost=<?php echo $fila->id?>" style="float: right;" >actualizar</a>
              </button>
<?php }?>
</div>
           

           
            
         
            
             
            

          <?php }}?>

                
       
       
        <!-- Pager -->
        
      </div>
    </div>
  </div>



  <hr>

</body>