


<body>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
         
           
            
   <!-- $res esta almacenada en la variable $data en la funcion de mostrar contenida en articulos,donde consulta a la db   -->       
<?php if($res != null){

      foreach($res->result() as $fila){ ?><!--tener en cuente que result() es una funcion de codeigniter-->

          
          <p class="post-meta">

                 <a href="http://localhost/pruebaCodeigniter/articulos/vercontenido?idpost=<?php echo $fila->id ?>"><?php echo $fila->descripcion ?></a>
           

          
            
            <br> <?php if($this->session->userdata('inicio') && $this->session->userdata('usuario')==$fila->usunombre ){echo  'Publicado por <strong>ti</strong>'; }else{ echo  'Publicado por <strong>' . $fila->usunombre. '</strong>';} ?>

            <br> <?php echo  'Fecha publicacion ' . $fila->fecha ?>
              
             
            </p>

          <?php }} ?>      
        </div>
       
        <!-- Pager -->
        
      </div>
    </div>
  </div>



  <hr>

</body>
