<?php if($this->session->userdata('inicio')){   ?>

<!--<header class="masthead" style="background-image: url('upload/<?php echo $this->session->userdata('imagen')?>');  " >-->
 <header class="masthead" style="background-image: url('http://localhost/pruebaCodeigniter/manejoimagenes/vizualizarImagen') ">
<!--<img src="http://localhost/pruebaCodeigniter/manejoimagenes/cargaImagen">-->
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>
              
            <?php if(isset($res) != null){  foreach($res->result() as $fila){ ?>
              
                  <?php echo $fila->descripcion ?>        
           
            <?php } }?>


            </h1>

          </div>
        </div>
      </div>
    </div>
  </header>
  
<?php  } else{ ?>
<header class="masthead" style="background-image: url('http://localhost/pruebaCodeigniter/upload/nombre_archivo9.jpg')">


    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Mi blog</h1>
            <span class="subheading">En esta pagina se encontraran contenidos interesantes</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <?php } ?>