<?php if($this->session->userdata('inicio')){   ?>


   <?php if(isset($res) != null){  foreach($res->result() as $fila){ ?>
    <header class="masthead" style="background-image: url('http://localhost/pruebaCodeigniter/manejoimagenes/vizualizarImagenpost?id=<?php echo $fila->id;   ?>') "> 

     

       <?php } }else{?>

        <header class="masthead" style="background-image: url('http://localhost/pruebaCodeigniter/manejoimagenes/vizualizarImagen') ">

       


      <?php } ?>
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="background: none;font: oblique bold 400% cursive;color: white;">
              
            <?php if(isset($res) != null){  foreach($res->result() as $fila){ ?>
              
                  <?php echo $fila->descripcion ?>        
           
            <?php } }else{ echo 'Hola '.$this->session->userdata('usuario');}?>






            </h1>

          </div>
        </div>
      </div>
    </div>
  </header>
  
<?php  } else{ ?>

<?php if(isset($res) != null){  foreach($res->result() as $fila){ ?>

   <header class="masthead" style="background-image: url('http://localhost/pruebaCodeigniter/manejoimagenes/vizualizarImagenpost?id=<?php echo $fila->id;   ?>') "> 

     

       <?php } }else{?>

       <header class="masthead" style="background-image: url('http://localhost/pruebaCodeigniter/upload/nombre_archivo9.jpg')">

       


      <?php } ?>



    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="background: none;font: oblique bold 400% cursive;color: white;">

             <?php if(isset($res) != null){  foreach($res->result() as $fila){ ?>
              
                  <?php echo $fila->descripcion ?>        
           
            <?php } }else{?>

            Bienvenido


            <?php }  ?>

            </h1>
           
          </div>
        </div>
      </div>
    </div>
  </header>

  <?php } ?>