<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="http://localhost/pruebaCodeigniter">Volver al inicio</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/pruebaCodeigniter">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="post.html">Sample Post</a>
          </li>
        
         <?php echo 'var= '.$GLOBALS['creado']; if($this->session->userdata('inicio'))  {?>
         <li class="nav-item">
            <a class="nav-link" href="http://localhost/pruebaCodeigniter/perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/pruebaCodeigniter/controladorlogin/cerrarSesion"><?php echo $this->session->userdata('usuario'); ?> Cerrar sesion</a>
          </li>

          <?php  }else{ ?>

                  


                      <li class="nav-item">
                      <a class='dropdown-toggle' href='#' data-toggle='dropdown' style="background: none;">Registrarse ... <strong class='caret'></strong></a>
                      <div class='dropdown-menu' style='padding: 10px; padding-bottom: 0px; background: none; width: 400px;'>
                        <form action='http://localhost/pruebaCodeigniter/controladorlogin/registrarse' method='post' accept-charset='UTF-8' role="form">
                          <div class='form-group'>
                            <input class='form-control large' style='text-align: center;'autofocus type='text' name='nuevouser'autofocus placeholder='usuario' />
                          </div>
                          <div class='form-group'>
                            <input class='form-control large' style='text-align: center;' type='password' name='nuevopassword' placeholder='contraseña' />
                          </div>
                          <div class='form-group'>
                            <input class='form-control large' style='text-align: center;' type='password' name='nuevopassword' placeholder='confirmar contraseña' />
                          </div>
                          <div class='form-group'>
                            <button class='btn btn-primary' style='width: 380px;' type='submit'>Aceptar</button>
                          </div>
                          </form>
                      </div>
                    </li>



          <li class="nav-item">
         
                      <a class='dropdown-toggle' href='#' data-toggle='dropdown' style="background: none;">Iniciar sesion ... <strong class='caret'></strong></a>
                      <div class='dropdown-menu' style='padding: 10px; padding-bottom: 0px; background: none; width: 400px;'>
                        <form action='http://localhost/pruebaCodeigniter/controladorlogin' method='post' accept-charset='UTF-8' role="form">
                          <div class='form-group'>
                            <input class='form-control large' style='text-align: center;' type='text' name='user' placeholder='usuario'/>
                          </div>
                          <div class='form-group'>
                            <input class='form-control large' style='text-align: center;' type='password' name='password' placeholder='contraseña' />
                          </div>
                          <div class='form-group'>
                            <button class='btn btn-primary' style='width: 380px;' type='submit'>INGRESAR</button>
                          </div>
                          </form>
                      </div>
                    </li>

          
          <?php }?>
         
        </ul>
      </div>
    </div>
  </nav>