<body>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
       
        <!-- Pager -->
        <div id="richbox">
         
        </div>
        <div class="clearfix">
                  
         

           <form action="http://localhost/pruebaCodeigniter/articulos/guardarpost" method="post" enctype="multipart/form-data">
             <label for="nuevopost" >nuevo post</label>
              <div class='form-group'>
                     <input class='form-control large' style='text-align: center;'autofocus type='text' name='nuevopost'autofocus placeholder='Titulo del post' id="nuevopost" required="" />
              </div>

               <div class='form-group'>
                     <textarea class="form-control" rows="3" name="contenido"></textarea>
              </div>

              <div class='form-group'>
                 <input class="btn btn-default btn-choose"type="file" name="upload" id="upload">
                
              </div>
                          
             <input class="btn btn-primary float-right" type="submit" name="" value="Agregar Post">
           </form>
           
       

         

       </div>
      </div>
    </div>
  </div>

  <hr>

</body>