
<body>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
       
        <!-- Pager -->
        <div class="clearfix">
                  
         

           <form action="http://localhost/pruebaCodeigniter/articulos/guardarpost" method="post">
             <label>nuevo post</label>
             <input type="text" name="nuevopost" id="nuevopost">
             <input type="submit" name="" value="NUEVOPOST">
           </form>

         

       </div>
      </div>
    </div>
  </div>

  <hr>

</body>