<body>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
       
        <!-- Pager -->
        <div id="richbox">
         
        </div>
        <div class="clearfix">
                  
         

           <form action="http://localhost/pruebaCodeigniter/articulos/guardarpost" method="post">
             <label for="nuevopost" >nuevo post</label>
              <div class='form-group'>
                            <input class='form-control large' style='text-align: center;'autofocus type='text' name='nuevopost'autofocus placeholder='nuevopost' id="nuevopost" />
                          </div>
                          
             <input class="btn btn-primary float-right" type="submit" name="" value="Agregar Post">
           </form>
           
          

         

       </div>
      </div>
    </div>
  </div>

  <hr>

</body>