


<body>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
         
           
            
   <!-- $res esta almacenada en la variable $data en la funcion de mostrar contenida en articulos,donde consulta a la db   -->       
<?php if($res != null){

      foreach($res->result() as $fila){ ?><!--tener en cuente que result() es una funcion de codeigniter-->

          
          <p class="post-meta"><?php echo $fila->descripcion ?>
            <button btn btn-primary btn-lg active" role="button" style="float: right; ">
               <a href="http://localhost/pruebaCodeigniter/articulos/eliminarpost?idpost=<?php echo $fila->id?>" style="float: right; margin-left: 4px" >eliminar</a>
             </button>  

             <button btn btn-primary btn-lg active" role="button" style="float: right;">
                <a href="http://localhost/pruebaCodeigniter/articulos/cargarpost?idpost=<?php echo $fila->id?>" style="float: right;" >actualizar</a>
              </button>
            
            <br>publicado <?php echo  $fila->fecha ?>
              
             
            </p>

          <?php }}else{?>

            <h3 class="post-subtitle">
              este contenido es solo para usuarios
            </h3>  

            <?php }?>       
        </div>
       
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary btn-lg btn-block" href="http://localhost/pruebaCodeigniter/articulos/nuevo">Nuevo post</a>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <form action="http://localhost/pruebaCodeigniter/manejoimagenes/cargaImagen" method="post" enctype="multipart/form-data"><!--  no se debe olvidar poner el enctype para subir archivos-->  
        <input class="btn btn-default btn-choose"type="file" name="upload" id="upload">
        <input class="btn btn-success btn-xs float-right" type="submit" name="Subir" value="Cambir Imagen">
      </form>
      
    </div>
  </div>
</div>
<div  style=" height: 200px"  >
  
</div>
  <hr>

</body>