


<body>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
         
           
            
   <!-- $res esta almacenada en la variable $data en la funcion de mostrar contenida en articulos,donde consulta a la db   -->       
<?php if($res != null){

      foreach($res->result() as $fila){ ?><!--tener en cuente que result() es una funcion de codeigniter-->
          <p class="post-meta"><?php echo $fila->descripcion ?>
            
            en <?php echo $fila->fecha ?>
              
               <a href="http://localhost/pruebaCodeigniter/articulos/eliminarpost?idpost=<?php echo $fila->id?>" style="float: right; margin-left: 4px" >eliminar</a>
                <a href="http://localhost/pruebaCodeigniter/articulos/actualizarpost?idpost=<?php echo $fila->id?>" style="float: right;" >actualizar</a>
            </p>

          <?php }}else{?>

            <h3 class="post-subtitle">
              este contenido es solo para usuarios
            </h3>  

            <?php }?>       
        </div>
       
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

</body>